div#user-detail-page {
  text-align: center;
}

div#user-detail-wrapper {
  padding: 0 auto;
  display: inline-block;
}

h2#user-detail-h2 {
  width: 70%;
  height: 70%;
  margin: 30pt;
  color: #ff7f50;
}


content#single-user-content {
  font-family: Dekko;
  text-align: left;
  font-size: 15pt;
  color: #ff7f50;
}

button#user-edit-btn {
  font-size: 10pt;
}
